<mat-toolbar color="primary" class="no-gutter">

  <app-lab-menu *ngIf="!searchBoxActive"  class="menu-gutter"></app-lab-menu>


  <mat-icon *ngIf="searchBoxActive" (click)="toggle()" class="material-icons menu-gutter arrow-face">arrow_back_ios</mat-icon>
  <span  class="header-spacer"></span>
  
  <form *ngIf="searchBoxActive"  [formGroup]="searchFrom">
  <mat-form-field matInput  class="input-gutter header-spacer input-face" appearance="standard">
  <input  matInput formControlName="searchBar" placeholder="Rechercher">
  </mat-form-field>
  </form>

  <mat-icon *ngIf="!searchBoxActive"  (click)="toggle()"  class="icon-gutter material-icons ">search</mat-icon>
  <mat-icon (click)="to_add_element()"  *ngIf="!searchBoxActive"  class="icon-gutter material-icons">add</mat-icon>
</mat-toolbar>  