<header  *ngIf="isListActive" class=".header-list mat-elevation-z1 mat-typography">
  <app-nav-search-box></app-nav-search-box>
  <app-nav-bar [nav_module]="'produits'"></app-nav-bar>
  </header>

  <header *ngIf="!isListActive" class="header-detail mat-elevation-z1 mat-typography">
      <mat-icon (click)="to_list()" id="back_ico" class="material-icons icon-style">arrow_back_ios</mat-icon>
      <span  id="head_text" class="icon-style">Modifier Produit</span>
      <span  class="header-spacer"></span>
      <mat-icon  *ngIf="!isNewActive"  id="delete_ico"   class="icon-style material-icons">delete</mat-icon>
      <mat-icon  id="save_ico"  class="icon-style material-icons">save</mat-icon>
    </header>
<router-outlet></router-outlet>