

article {
    display : flex ; 
    padding: 1em 1em 1em 1em ;
    font-family: 'Cabin', sans-serif;
 }

 .header-spacer {
    flex: 1 1 auto;
  }

 div mat-icon 
 {
     float : left;
     padding-right: 1em;
     margin-top: auto;
     margin-bottom: auto;
 }
 
 
 h4{
     
     font-weight: 900;
     margin: 0 0 0 0;
 
 }
 
 h5 {
 
    margin: 0 0 0 0;
 }
 