@import '~@angular/material/theming';
@import 'src/app-themes.scss';


header 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: mat-color($app-primary);
  padding : 0 0.4em 0.4em 0.4em ;
}

