@import '~@angular/material/theming';
@import '../../../../app-themes.scss';

:host {
 margin : 0 0 0.4em 0;
}

header 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: mat-color($app-primary);
  padding : 0 1.134em 0.67em 1.134em ;
  margin :  0 0 0.4em 0 ;
}