<header class="mat-elevation-z1 mat-typography">
  <mat-icon [routerLink]="['../list']" id="back_ico" class="material-icons icon-style">arrow_back_ios</mat-icon>
  <span  id="head_text" class="icon-style">Nouveau produit</span>
  <span  class="header-spacer"></span>
  <mat-icon  (click)="onSubmit()" id="save_ico" class="icon-style material-icons">save</mat-icon>
</header>


<form  [formGroup]="familleForm"  (ngSubmit)="onSubmit()" class="form-gutter"  #f="ngForm">
  
  <mat-form-field class="full-width field-gutter field-face" appearance="fill">
      <mat-label>Designation</mat-label>
      <input matInput formControlName="designation">
      <mat-error *ngIf="server_error?.designation">{{server_error.designation}}</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button [style.display]="'none'" id='submit-button' type='submit' mat-raised-button color="primary">Confirmer</button>
</form>


