<form [formGroup]="productForm" class="form-gutter" *ngIf="product$ | async as product">
    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation">
    </mat-form-field>
  
    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
        <mat-label>Famille</mat-label>
        <input matInput formControlName="famille">
    </mat-form-field>

    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
        <mat-label>Laboratoire</mat-label>
        <input matInput formControlName="laboratoire">
      </mat-form-field>
      
      <mat-divider></mat-divider>
      <h5>Conditionnement</h5>
      
    <div formGroupName="conditionnement">
        
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Contenant par coffret</mat-label>
          <input matInput formControlName="contenantCoffret">
      </mat-form-field>

    
      
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Test par contenant</mat-label>
          <input matInput formControlName="testContenant">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h5>stock</h5>
    
    <div formGroupName="stock">
        

        
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>CMM</mat-label>
          <input matInput formControlName="cmm">
      </mat-form-field>

      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Stock mini par mois </mat-label>
          <input matInput formControlName="stockMiniMois">
      </mat-form-field>

    </div>
  
  </form>