<form [formGroup]="productForm" class="form-gutter" *ngIf="product$ | async as product">
    <mat-form-field class="full-width field-gutter field-face" appearance="standard">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation">
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field class="full-width field-gutter field-face" appearance="standard">
        <mat-label>Famille</mat-label>
        <input matInput formControlName="famille">
    </mat-form-field>

    <mat-form-field class="full-width field-gutter field-face" appearance="standard">
        <mat-label>Laboratoire</mat-label>
        <input matInput formControlName="laboratoire">
      </mat-form-field>
    
      <mat-form-field class="full-width field-gutter field-face" appearance="standard">
          <mat-label>Contenant par coffret</mat-label>
          <input matInput formControlName="contenantCoffret">
      </mat-form-field>
      
      <mat-form-field class="full-width field-gutter field-face" appearance="standard">
          <mat-label>Test par contenant</mat-label>
          <input matInput formControlName="testContenant">
      </mat-form-field>

      <mat-form-field class="full-width field-gutter field-face" appearance="standard">
          <mat-label>CMM</mat-label>
          <input matInput formControlName="cmm">
      </mat-form-field>

      <mat-form-field class="full-width field-gutter field-face" appearance="standard">
          <mat-label>Stock mini par mois </mat-label>
          <input matInput formControlName="stockMiniMois">
      </mat-form-field>

  
  </form>