@import '~@angular/material/theming';
@import 'src/app-themes.scss';



.full-width
{
    width:100%;
}

.form-gutter
{
    margin : 1.6em 1.4em 0 1.4em; 
}

.field-gutter {
    margin : 0 0 0 0;

}

.field-face {
   font-size: 1em;
   font-weight: 500;
    
}

div {
    display : flex ; 
    justify-content: space-between;
}

h5 {
    font-weight: 500;
    color: mat-color($app-primary);
}

div mat-form-field {
    
    width : 47%;
    
}