@import '~@angular/material/theming';
@import 'src/app-themes.scss';


form{
width:100%;
}

.icon-gutter {
    padding: 0 0 0 0.4em;
    
  }

.input-gutter {
    margin: 0 0 1em 0;
    
  }
.menu-gutter {
  padding: 0 0.4em 0 0;
}

.search-face {
  font-size: 0.7em;
  border-bottom-style: inset;
  border-bottom-color: white;
  border-bottom-width: 0.05em;
  height: 1.05em;
 }

 

.input-face {
  
  font-size: 0.6em;
  border-color: rgb(186,196,212);
  width : 100%;
  

}

.no-gutter
{
  padding : 0 0 0 0 ; 
  
}
  

  .header-spacer {
    flex: 1 1 auto;
  }



.hidden
{
  display:none;
}



.arrow-face 
{
  font-size: 1em;
}


