<header class="mat-elevation-z1 mat-typography">
    <mat-icon [routerLink]="['../list']" id="back_ico" class="material-icons icon-style">arrow_back_ios</mat-icon>
    <span  id="head_text" class="icon-style">Modifier Produit</span>
    <span  class="header-spacer"></span>
    <mat-icon class="icon-style material-icons ">delete</mat-icon>
    <mat-icon id="save_ico" class="icon-style material-icons">save</mat-icon>
</header>


<form [formGroup]="productForm"  (ngSubmit)="onSubmit()" class="form-gutter" *ngIf="product$ | async as product">
    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation">
    </mat-form-field>
  
    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
        <mat-select placeholder="Famille"  formControlName="famille">
            <mat-option *ngFor="let famille of familles$ | async" [value]="famille.id">
              {{famille.designation}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width field-gutter field-face" appearance="fill">
            <mat-select placeholder="Laboratoire"  formControlName="laboratoire">
                <mat-option *ngFor="let laboratoire of laboratoires$ | async" [value]="laboratoire.id">
                  {{laboratoire.designation}}
                </mat-option>
              </mat-select>
        </mat-form-field>


      
      <mat-divider></mat-divider>
      <h5>Conditionnement</h5>
      
    <div formGroupName="conditionnement">
        
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Contenant par coffret</mat-label>
          <input matInput formControlName="contenantCoffret">
      </mat-form-field>

    
      
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Test par contenant</mat-label>
          <input matInput formControlName="testContenant">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h5>stock</h5>
    
    <div formGroupName="stock">
        

        
      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>CMM</mat-label>
          <input matInput formControlName="cmm">
      </mat-form-field>

      <mat-form-field class=" field-gutter field-face" appearance="fill">
          <mat-label>Stock mini par mois </mat-label>
          <input matInput formControlName="stockMiniMois">
      </mat-form-field>

    </div>
    <mat-divider></mat-divider>

    <button type="submit" mat-raised-button color="primary">Confirmer</button>

  </form>