
<form  [formGroup]="laboratoireForm"  (ngSubmit)="onSubmit()" class="form-gutter"  #f="ngForm">
  
  <mat-form-field class="full-width field-gutter field-face" appearance="outline">
      <mat-label>Designation</mat-label>
      <input matInput formControlName="designation">
      <mat-error *ngIf="server_error?.designation">{{server_error.designation}}</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button [style.display]="'none'" id='submit-button' type='submit' mat-raised-button color="primary">Confirmer</button>
</form>


