@import '~@angular/material/theming';
@import '../../../../src/app-themes.scss';


.mat-tab-link 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: white;
    margin-left :1em;
    margin-right :1em;
   
      
}

.mat-tab-link 
{
    background-color: rgb(232,232,232);
}

.mat-tab-label-active
{
    background-color: white;
    -webkit-text-fill-color: mat-color($app-accent);
    
}

.mat-tab-label-active mat-icon 
{
    color: mat-color($app-accent);
}

