@import '~@angular/material/theming';
@import '../../../app-themes.scss';

.mat-headline
{
    font-weight: bolder;
}

.nav-divider
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

a {

    flex-grow : 0 ;
 
    
}

.mat-tab-link 
{
    
    background-color:  mat-color($app-primary);
    -webkit-text-fill-color: white;
    height: 3.5em;
    font-size: 0.9em;
    
    
}

.mat-ink-bar
{
    background-color: white;
}

.mat-tab-label-active
{
    -webkit-text-fill-color:  mat-color($app-accent);
    
}