<mat-progress-spinner *ngIf='!isComplete'
class="example-margin"
[color]="'primary'"
[mode]="mode"
[value]="50"
diameter=50>
</mat-progress-spinner>

<form  [formGroup]="transProductForm"  (ngSubmit)="onSubmit()" class="form-gutter" *ngIf="transProduct" #f="ngForm">
    
  <mat-form-field class="full-width field-gutter field-face" appearance="outline">
      <mat-label>Produit</mat-label>
    <mat-select placeholder="Produit" formControlName="product" required>
        <mat-option *ngFor="let product of products" [value]="product.id">
          {{product.designation}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="server_error.product">{{server_error.product}}</mat-error>
</mat-form-field>

<mat-form-field class="full-width field-gutter field-face" appearance="outline">
    <mat-label>Type d'operation</mat-label>
  <mat-select placeholder="Type" formControlName="trans_type" required>
      <mat-option  [value]="'IN'">
        Entree
      </mat-option>
      <mat-option  [value]="'OUT'">
        Sortie
      </mat-option>
    </mat-select>
    <mat-error *ngIf="server_error.trans_type">{{server_error.trans_type}}</mat-error>
</mat-form-field>


<mat-form-field class=" full-width field-gutter field-face" appearance="outline">
  <mat-label>numero de lot</mat-label>
  <input type="number" matInput formControlName="code_lot" required>
  <mat-error *ngIf="server_error.code_lot">{{server_error.code_lot}}</mat-error>
</mat-form-field>



<mat-form-field class=" full-width field-gutter field-face" appearance="outline">
  <mat-label>quantite</mat-label>
  <input type="number" matInput formControlName="quantite" required>
  <mat-error *ngIf="server_error.quantite">{{server_error.quantite}}</mat-error>
</mat-form-field>



<mat-form-field class="  full-width field-gutter field-face" appearance="outline">
  <input  matInput formControlName="peremption_date" [matDatepicker]="picker" placeholder="Date de peremption">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field class="  full-width field-gutter field-face" appearance="outline">
    <mat-label>Remarque</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              formControlName="remarks"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>


  <button [style.display]="'none'" id='submit-button' type='submit' mat-raised-button color="primary">Confirmer</button>
</form>

<app-log-info *ngIf='isComplete' [element]="transProduct"></app-log-info>





